<!-- Direction Modal-->
<div id="direction-modal" class="direction-modal modal" tabindex="-1" role="dialog" aria-labelledby="directionModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="directionModalLabel">How to get to the event</h4>
      </div><!--//modal-header-->
      <div class="modal-body">
        <div class="row">
            <h4 class="col-title text-center">Ceremony & Reception</h4>
            <div class="col-subtitle script text-center">The Briery Wood Hotel</div>
            <div class="figure-container"><img class="img-responsive direction-img" src="../images/hotel.jpg" alt="" /></div>

            <h5 class="section-title"><i class="fa fa-car"></i> By Car</h5>
            <p>
              Briery Wood can be reached by leaving the M6 at junction 36
              (Kendal, South Lakes) and following the A591 for 15 miles, past
              Kendal and Windermere until you see the Briery Wood signed on the
              right. Briery Wood is situated half a mile past the National Park
              Visitor Center at Borckhole.
            </p>
            <p>
              <em>
                If you are using a satnav please use the latitude/longitude details:<br/>
                Latitude: N 54:24:23.5 (54.40652)<br/>
                Longitude : W 2:56:39.4 (-2.94427)
              </em>
            </p>
            <h5 class="section-title"><i class="fa fa-train"></i> By Train</h5>
            <p>The nearest local train station is <b>Windermere</b>, however the
               main station for all national connections is at <b>Oxenholme Lake
               District</b>. Briery Wood is just a short 5 minute journey from
               Windermere train station by taxi.</p>
            <h5 class="section-title"><i class="fa fa-bus"></i> By Bus</h5>
            <p>The nearest bus stop is at Low Wood Hotel which is a 5 minute
              walk from the Briery Wood.</p>
        </div><!--//row-->
      </div><!--//modal-body-->
    </div><!--//modal-content-->
  </div>
</div><!--//modal-->
