<!-- Facilities Modal 1-->
<div id="facilities-modal" class="facilities-modal modal" tabindex="-1" role="dialog" aria-labelledby="facilitiesModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="facilitiesModalLabel">Facilities & Accomodation</h4>
      </div><!--//modal-header-->
      <div class="modal-body">
        <div class="row">
          <div class="event-col col-md-12 col-sm-12 col-xs-12">
            <ul class="list-unstyled facilities-list">
              <li><i class="fa fa-check"></i> Free high-speed internet access / WiFi</li>
              <li><i class="fa fa-check"></i> Restaurant, bar and lounge</li>
              <li><i class="fa fa-check"></i> Dog-friendly rooms throughout</li>
              <li><i class="fa fa-check"></i> Close to Windermere and Ambleside</li>
              <li><i class="fa fa-check"></i> Free Car Parking</li>
              <li><i class="fa fa-check"></i> Non-smoking</li>
              <li><i class="fa fa-check"></i> Laundry service</li>

            </ul>
          </div><!--//event-col-->
        </div><!--//row-->
      </div><!--//modal-body-->
    </div><!--//modal-content-->
  </div>
</div><!--//modal-->
