<% if APP_CONFIG[:enable_gallery] %>

    <!-- ******Gallery Section****** -->
    <section id="gallery" class="gallery-section section">
        <div class="container text-center">
            <h3 class="title script"><span class="title-deco-left"></span><span class="title-text">Gallery</span><span class="title-deco-right"></span></h3>
            <div class="intro">Use <span class="text-highlight hashtag">#amynickwedding2016</span> on Instagram to help us record our big day</div>
            <div class="gallery-container">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#gallery-1" aria-controls="gallery-1" role="tab" data-toggle="tab">Engagement</a></li>
                    <li role="presentation"><a href="#gallery-2" aria-controls="gallery-2" role="tab" data-toggle="tab">Instagram</a></li>
                </ul><!--//nav-tabs-->
                
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane tab-pane-1 active" id="gallery-1">
                        <div id="photos-wrapper" class="photos-wrapper">
                            <div class="item"><a href="/theme/images/gallery/pic-1.jpg" data-gallery><img class="img-responsive" src="/theme/images/gallery/pic-1.jpg" alt="" /></a></div>
                            <div class="item"><a href="/theme/images/gallery/pic-2.jpg" data-gallery><img class="img-responsive" src="/theme/images/gallery/pic-2.jpg" alt="" /></a></div>
                            <div class="item"><a href="/theme/images/gallery/pic-3.jpg" data-gallery><img class="img-responsive" src="/theme/images/gallery/pic-3.jpg" alt="" /></a></div>
                            <div class="item"><a href="/theme/images/gallery/pic-4.jpg" data-gallery><img class="img-responsive" src="/theme/images/gallery/pic-4.jpg" alt="" /></a></div>
                            <div class="item"><a href="/theme/images/gallery/pic-5.jpg" data-gallery><img class="img-responsive" src="/theme/images/gallery/pic-5.jpg" alt="" /></a></div>
                            <div class="item w2"><a href="/theme/images/gallery/pic-6.jpg" data-gallery><img class="img-responsive" src="/theme/images/gallery/pic-6.jpg" alt="" /></a></div>
                            <div class="item"><a href="/theme/images/gallery/pic-7.jpg" data-gallery><img class="img-responsive" src="/theme/images/gallery/pic-7.jpg" alt="" /></a></div>
                            <div class="item"><a href="/theme/images/gallery/pic-8.jpg" data-gallery><img class="img-responsive" src="/theme/images/gallery/pic-8.jpg" alt="" /></a></div>
                            <div class="item"><a href="/theme/images/gallery/pic-9.jpg" data-gallery><img class="img-responsive" src="/theme/images/gallery/pic-9.jpg" alt="" /></a></div>
                            <div class="item"><a href="/theme/images/gallery/pic-10.jpg" data-gallery><img class="img-responsive" src="/theme/images/gallery/pic-10.jpg" alt="" /></a></div>
                            <div class="item"><a href="/theme/images/gallery/pic-11.jpg" data-gallery><img class="img-responsive" src="/theme/images/gallery/pic-11.jpg" alt="" /></a></div>
                            <div class="item w2"><a href="/theme/images/gallery/pic-12.jpg" data-gallery><img class="img-responsive" src="/theme/images/gallery/pic-12.jpg" alt="" /></a></div>
                            <div class="item"><a href="/theme/images/gallery/pic-13.jpg" data-gallery><img class="img-responsive" src="/theme/images/gallery/pic-13.jpg" alt="" /></a></div>
                            <div class="item"><a href="/theme/images/gallery/pic-14.jpg" data-gallery><img class="img-responsive" src="/theme/images/gallery/pic-14.jpg" alt="" /></a></div>
                            <div class="item"><a href="/theme/images/gallery/pic-15.jpg" data-gallery><img class="img-responsive" src="/theme/images/gallery/pic-15.jpg" alt="" /></a></div>
                            <div class="item"><a href="/theme/images/gallery/pic-16.jpg" data-gallery><img class="img-responsive" src="/theme/images/gallery/pic-16.jpg" alt="" /></a></div>
                            <div class="item"><a href="/theme/images/gallery/pic-17.jpg" data-gallery><img class="img-responsive" src="/theme/images/gallery/pic-17.jpg" alt="" /></a></div>
                            <div class="item"><a href="/theme/images/gallery/pic-18.jpg" data-gallery><img class="img-responsive" src="/theme/images/gallery/pic-18.jpg" alt="" /></a></div>
                        </div><!--//photos-wrapper-->
                    </div><!--tabe-pane-1-->
                    <div role="tabpanel" class="tab-pane tab-pane-2" id="gallery-2">
                        <div id="instafeed" class="instafeed-wrapper"></div>
                        <button id="load-more" class="btn btn-primary btn-load-more">Load more...</button>
                    </div><!--tabe-pane-2-->
                </div><!--//tab-content-->
            </div><!--//gallery-container-->
        </div><!--//container-->
    </section><!--//gallery-section-->

<% end %>