
<div id="menu-info">
  <h2>The Menu</h2>
  <p class="lead">You will be eating some of the finest locally produced food in the Lake District.</p>
  <h3>Starter</h3>
  <p>
    <b>Cumbrian ham and pea soup</b><br/>
    <em>White truffle oil and golden croutons</em>
  </p>
  <p>
    <b>Lakeland gold battered wedges of brie (V)</b><br/>
    <em>Damson gin chutney</em>
  </p>
  <h3>Main</h3>
  <p>
    <b>Slow braised Lune Valley shoulder of Lamb</b><br/>
    <em>Boulangere potato, roast leek, lamb reduction</em>
  </p>
  <p>
    <b>Allerdale goats cheese and red onion tart (V)</b><br/>
    <em>New season potatoes, salad</em>
  </p>
  <h3>Dessert</h3>
  <p>
    <b>Briery Wood's sticky toffee pudding</b><br/>
    <em>Toffee sauce, vanilla ice cream</em>
  </p>
  <p>
    <b>Lemon posste</b><br/>
    <em>Grassmere gingerbread, strawberries</em>
  </p>
</div>
