<h4 class="subtitle">Evening Reception</h4>
<p class="intro">The party will start in the evening around <strong>7:30pm</strong> and finish around midnight, with a disco provided by <a href="http://www.redroosterdiscos.co.uk/">Red Rooster Discos</a> . Expect plenty of drink, dancing and (if the weather plays nice) a BBQ!</p>
