<h2>The Venue</h2>

<p class="lead">The wedding is to be held at the <strong>Briery Wood Hotel</strong>, 
near Windermere in the Lake District.</p>

<address>
    <strong>Briery Wood Hotel</strong><br>
    Ambleside Road<br>
    Windermere<br>
    LA23 1ES<br>
    <abbr title="Phone">Phone:</abbr> 01539 433316
</address>