
<div id="venue-info">

    <div class="row">
        <div class="col-sm-3">
            <%= image_tag "hotel.jpg", class: 'img-circle venue-image hidden-xs' %>
        </div>
        <div class="col-sm-9">
            <h2>The Venue</h2>

            <p class="lead">The wedding is to be held at the <strong>Briery Wood Hotel</strong>, 
                near Windermere in the Lake District.</p>
                
            <div class="row">
                <div class="col-sm-6">
                    <address>
                        <strong>Briery Wood Hotel</strong><br>
                        Ambleside Road<br>
                        Windermere<br>
                        LA23 1ES<br>
                        <abbr title="Phone">Phone:</abbr> 01539 433316
                    </address> 
                </div>
                <div class="col-sm-6">
                    Website: <a href="http://www.lakedistrictcountryhotels.co.uk/briery-wood-hotel" onclick="window.open(this.href); return false">
                        lakedistrictcountryhotels.co.uk</a><br>
                                                
                    <a href="https://goo.gl/maps/9U681yr3cJw" onclick="window.open(this.href); return false">View the hotel on Google Maps</a> 
                </div>
            </div>
                        
        </div>
    </div>
    
    <div class="row">
                 
    </div>
    
</div>
  
