<h4 class="subtitle">Ceremony</h4>
<p class="intro">We are getting married at the Briery Wood Hotel near Windermere in the picturesque Lake District.
The ceremony is to take place at 11:30am, to be followed by the wedding breakfast in the afternoon. Children and dogs are most welcome!</p>
<ul class="meta-list list-unstyled text-left center-block">
    <li><span class="icon-calendar love-icon"></span>Saturday - 23rd July 2016</li>
    <li><span class="icon-clock love-icon"></span>11:30am</li>
    <li><span class="icon-map love-icon"></span>Briery Wood Hotel, Windermere
        <br>
        <span class="direction-info display-block list-link"><a href="#" data-toggle="modal" data-target="#direction-modal">How to get there</a></span>
        <span class="facilities-info display-block list-link"><a href="http://www.lakedistrictcountryhotels.co.uk/briery-wood-hotel" onclick="window.open(this.href); return false">Hotel information</a></span>
    </li>
</ul><!--//meta-list-->
