
<div id="login-page">
  <h3 class="text-center title">Wedding RSVP Login</h3>

  <div class="col-sm-offset-4 col-sm-4">

    <%= form_for :do_login do |f| %>

      <div class="form-group">
        <div class="input-group">
          <%= f.password_field :password, class: 'form-control', placeholder: 'Enter the password to log in' %>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">log in</button>
          </span>
        </div>
      </div>

    <% end %>

    <p class="text-center">
      <%= link_to 'Back to the site', controller: 'home', action: 'index' %>
    </p>

  </div>
</div>
