#venue-info {

    .venue-image {
        width: 100%;
    }

    h2 {
        margin-top: 0px;
    }

}

.wedding-col {
  padding-top: 10px;
  padding-bottom: 10px;
}

.direction-img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
}
