#venue-info {

    .venue-image {
        width: 100%;
    }

    h2 {
        margin-top: 0px;
    }

}

#admin-page {
  padding-top: 10px;
}

#login-page {
  .title {
    margin-bottom: 50px;
    text-transform: uppercase;;
  }
}
